/* style.css: style sheet for CoSe web pages.
   author: Alexandre Cunha
*/

@import url(http://fonts.googleapis.com/css?family=Gruppo);
@font-face {
  font-family: "Source Sans Pro";
  src: url('SourceSansPro-Regular.ttf') format('truetype');
}

@font-face {
  font-family: "Unica One";
  src: url('UnicaOne-Regular.ttf') format('truetype');
}

html {
  margin: 0;
  padding: 0;
  border: 0;
  /*width: 100%;*/
  /*height: 100%;*/
}

* {
  font-family: "Source Sans Pro";
  font-size: 11pt;
  font-style: normal;
  font-weight: normal;
}

#container {
  min-width: 450px;
}

body {
  color: #000;
  overflow-x: hidden;
  background-color: #191919;
  /*background-color: rgb(0,0,0);*/
  margin: auto;
  /*background-image: url(../imgs/alicebg.jpg);*/
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  font-weight: 400;
  color: #444;
  height: 100%;
//  position: relative;
}

.title {
  position: absolute;
  z-index: 999;
  top: 0px;
  left: 0px;
  color: white;
  margin: 20px 10px 20px 10px;
  font-family: "Unica One", Helvetica, Arial;
  font-size: 16pt;
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
  width: 200px;
}

.atitle {
  color: white;
  margin: 0px 0px 20px 10px;
  font-family: "Unica One", Helvetica, Arial;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
}

.subtitle {
  color: white;
  margin: 0px 0px 10px 20px;
  font-family: "Unica One", Helvetica, Arial;
  font-size: 18px;
  font-style: normal;
  text-transform: uppercase;
}

.ptitle {
  color: grey;
  font-weight: 300;
  margin: 0px 0px 10px 20px;
  font-family: "Source Sans Pro", Helvetica, Arial;
  font-size: 12px;
  font-style: normal;
  text-transform: none;
}

.ftitle {
  color: grey;
  font-weight: 300;
  margin: 0px 0px 10px 20px;
  font-family: "Source Sans Pro", Helvetica, Arial;
  font-size: 12px;
  font-style: normal;
  text-transform: none;
  bottom: 0px;
}

.strip {
  display: inline-block;
  position: relative;
  margin: 0px;
  width: 100%;
  padding: 10px 0px;
  background-color: rgba(255,255,255, 0.0);
  border-color: #ccc;
  border-width: 0px 0px;
  border-style: solid;
}

.login {
  display: inline-block;
  position: relative;
  color: #000;
  margin-right: 0px;
  width: 400px;
  text-align: right;
  padding: 0px;
  border: 0px solid black;
  float: left;
}

.login label {
  display: inline-block;
  font-weight: 400;
  color: #666;
}

input.field {
  display: inline-block;
  margin-left: 8px;
  padding-left: 8px;
  border-color: #666;
  border-width: 2px;
  border-style: solid;
  font-weight: 700;
  color: #000;
  border-radius: 60px;
}

.field:focus {
  outline: none;
}

input.button {
  display: inline-block;
  color: #666;
  padding: 4px 40px;
  font-weight: 700;
}

p {
  color: #666;
  font-weight: 700;
}

div.nav {
  color: #666;
  text-align: right;
  margin-right: 10px;
  margin-bottom: 4px;
  margin-top: 0px;
  border: 0px solid blue;
}

a {
  color: grey;
  font-size: 12px;
  text-decoration: none;
  outline: none ;
  padding: 0px 10px;
}

a:hover {
  color: white;
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: white;
    color: black;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 999;
    bottom: 150%;
    left: 50%;
    margin-left: -60px;
}

.tooltip .tooltiptext::after {
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

.zcolor {
  font-family: "Source Sans Pro";
  font-size: 11px;
  color: #F2B333;
}

.ycolor {
  font-family: "Source Sans Pro";
  font-size: 11px;
  color: #EA1D80;
}

img.instruct {
  height: 32px;
  width: 32px;
}

img.iconinstruct {
  height: 16px;
  width: 16px;
  padding: 4px;
}

