/* style.css: style sheet for CoSe web pages.
   author: Alexandre Cunha
*/

@import url(http://fonts.googleapis.com/css?family=Gruppo);

html {
  margin: 0;
  padding: 0;
  border: 0;
  /*width: 100%;*/
  /*height: 100%;*/
}

* {
  font-family: Verdana, sans-serif, Arial, Helvetica;
  font-size: 11pt;
  font-style: normal;
  font-weight: normal;
}

#container {
  min-width: 450px;
}

body {
  color: #000;
  overflow-x: hidden;
  background-color: rgb(145,180,210);
  /*background-color: rgb(0,0,0);*/
  margin: auto;
    /*background-image: url(../imgs/alicebg.jpg);*/
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    font-weight: 400;
    color: #444;
//  height: 100%;
//  position: relative;
}

.title {
  color: white;
  margin: 20px 0px 10px 20px;
  font-family: Gruppo, Helvetica, Arial;
  font-size: 28pt;
  font-style: normal;
  font-weight: 700;
  border: 0px solid red;
}

.strip {
  display: inline-block;
  position: relative;
  margin: 0px;
  width: 100%;
  padding: 10px 0px;
  background-color: rgba(255,255,255, 0.0);
  border-color: #ccc;
  border-width: 0px 0px;
  border-style: solid;
}

.login {
  display: inline-block;
  position: relative;
  color: #000;
  margin-right: 0px;
  width: 400px;
  text-align: right;
  padding: 0px;
  border: 0px solid black;
  float: left;
}

.login label {
  display: inline-block;
  font-weight: 400;
  color: #666;
}

input.field {
  display: inline-block;
  margin-left: 8px;
  padding-left: 8px;
  border-color: #666;
  border-width: 2px;
  border-style: solid;
  font-weight: 700;
  color: #000;
  border-radius: 60px;
}

.field:focus {
  outline: none;
}

input.button {
  display: inline-block;
  color: #666;
  padding: 4px 40px;
  font-weight: 700;
}

p {
  color: #666;
  font-weight: 700;
}

div.nav {
  color: #666;
  text-align: right;
  margin-right: 10px;
  margin-bottom: 4px;
  margin-top: 0px;
  border: 0px solid blue;
}

a {
  color: #fff;
  font-weight: 400;
  text-decoration: none;
  outline: none ;
  padding: 0px 4px;
}

a:hover {
  color: #666;
}

div.footertext {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 20px;
  background: #6df;
  padding: 0px;
  line-height: 20px;
  clear: both;
}
