div.workarea {
    position: relative;
    #position: absolute;
    left: -400px;
    margin-left: auto;
    margin-right: auto;
    padding: 0px;
    background: transparent;
    max-width: 646px;
}

div.canvas {
    /*position: static;*/
    /*position: absolute;*/
    width: 450px;
    height: 500px;
    margin-left: 10px;
    margin-right: auto;
    margin-top: 10px;
}

/*div.canvas img {*/
    /*position: relative;*/
    /*z-index: 0;*/
    /*width: 464px;*/
    /*height: 464px;*/
    /*margin-left: auto;*/
    /*margin-right: auto;*/
    /*border-style: solid;*/
    /*border-width: 1px;*/
    /*border-color: blue;*/
    /*border-radius: 6px;*/
    /*-moz-border-radius: 6px;*/
    /*-webkit-border-radius: 6px;*/
/*}*/

.buttons {                                      /* root div to place buttons */
    display: inline-block;
    position: absolute;
    top: 68px;
    left: 510px;
    z-index: 999;
    background: transparent;
    margin-left: auto;
    margin-right: auto;
    padding: 0px;
    border-style: solid;
    border-width: 0px;
    width: 300px;
    height: 30px;                                /* same height of canvas + border */
    vertical-align: middle;
    overflow: hidden;
    float: left;
    cursor: pointer;
    overflow: visible;
}

.buttons2 {                                      /* root div to place buttons */
    display: inline-block;
    position: absolute;
    left: 580px;
    top: 365px;
    z-index: 999;
    background: transparent;
    margin-left: auto;
    margin-right: auto;
    padding: 0px;
    width: 300px;
    height: 120px;                                /* same height of canvas + border */
    vertical-align: middle;
    overflow: hidden;
    float: left;
    cursor: pointer;
}

.button_set {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;

    text-align: center;
    vertical-align: middle;
    padding: 0px;

    border-color: red;
    border-style: solid;
    border-width: 0px;
    border-radius: 0px;
}

.text_button_set {
    display: inline;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
    padding: 0px;
    border: none;
    vertical-align: middle;
}

.text_button {
    display: inline-block;
    overflow: hidden;
    position: relative;
    margin: 0 auto;
    padding: 4px 12px;
    text-decoration: none;
    vertical-align: middle;
    text-align: center;
    background-color: none;
    text-transform: uppercase;
    color: white;
    font-family: "Unica One";
    font-size: 12px;
}

.text_button img {
    display: inline;
    vertical-align: middle;
    #width: 26px;
    #height: 26px;
    margin: 0 auto;
}

.text_button:hover {
    border-color: #fff;
}

.icon_button {
    display: inline-block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    vertical-align: middle;
    background-color: none;
    padding: 1px 1px;
    margin: 1px 1px;
    border-color:  rgba(255, 255, 255, 0);
    border-style: solid;
    border-width: .5px;
    border-radius: 4px;
}

.icon_button img {
    width: 16px;
    height: 16px;
    padding: 2px 2px;                             /* more space above and below */
    vertical-align: middle;
}

.icon_button:hover {
    border-color:  white;
}

.icon_button_selected {
    border-color:  white;
}

/* color classes */


.stdcolor {
    color: #333;
    background-image: -moz-linear-gradient(top, #000, #555);
    background-image: -webkit-linear-gradient(top, #000, #555);
    background-image: linear-gradient(top, #000, #555);
}

.long {
  width: 100px;
  height: 96px;
  font-size: 28px;
  font-weight: 700;
  border-color: #666;
  border-width: 4px;
  border-style: solid;
  border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
}

.long:hover {
  border-color: #fff;
}

img.large {
  display: block;
  width: 64px;
}

div#grid2d{
    margin-top: 10px;
    height: 500px;
    width: 350px;
    float: right;
    position: absolute;
    top:0px;
    margin-left: 820px;
}

canvas#keycanvas {
    position: absolute !important;
    z-index: 998 !important;
}

div#container {
    z-index: 1 !important;
    margin-left: 450px;
}

div#shadow {
    position: absolute;
    z-index: -1;
    width: 260px;
    height: 260px;
    top: 130px;
    left: 545px;
}

div#container2 {
    position: absolute !important;
    top: 0px;
    margin-left: 450px;
    pointer-events: none;
}

div#intro {
    position: absolute !important;
    top: -30px;
    margin-left: 350px;
}


div#minimap  {
    margin-top: 130px;
    height: 260px;
    width: 260px;
    float: right;
    position: absolute;
    top:0px;
    margin-left: 250px;
}

div#fashionshow{
    height: 250px;
    width: 1500px;
    position: absolute !important;
    z-index: 5;
    margin-top: 430px;
    left: 0;
}

div#allElements {
    position:absolute;
    top: -30px;
    left: 20px;
}

#openNav {
    position: absolute;
    z-index: 3;
    top: 50px;
    left: 29px;
    font-size: 12px;
}

#openNav > i {
    font-size: 18px;
}

#openNav:hover {
    color: white;
}

